
@{
    ViewBag.Title = "Cancel";
}


<div class="row">
    <div class="col-sm-12">
        <h3>Sorry, the payment was cancelled</h3>
        <p>Your payment was not successful. Please try again.</p>
    </div>
</div>