.space-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-gray {
    background-color: #95a5a6;
    border-radius: 50% !important;
}

.circle {
    border-radius: 50% !important;
    overflow: hidden;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-break {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    margin-top: 25px;
    background-color: transparent;
    outline: 0;
}

.MyCardElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
    border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
    background-color: #fefde5 !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}