.space-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-gray {
    background-color: #95a5a6;
    border-radius: 50% !important;
}

.circle {
    border-radius: 50% !important;
    overflow: hidden;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-break {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    margin-top: 25px;
    background-color: transparent;
    outline: 0;
}